<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>
  //先进行解析，然后执行
  //解析：变量及函数声明，语法检查
  //先进行函数声明然后才是变量声明，赋值在执行阶段完成。
  //1
  // var a =  1
  //
  // function a () {
  // }
  //
  // console.log(a) //a
  //2
  // function b () {
  //
  // }
  //
  // console.log(b) //输出函数
  //   var b =2
  //3
  // var foo = 1
  //
  function f () {
    // foo = 10  // 使用没有声明的变量，在作用域里查找，如果没有，一直往上一级查找，如果一直没有会自动声明变量
    // foo +1
  }

  f()
  console.log(foo) //10

  //4
</script>
</html>
